#main {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.row {
  display: flex;
  flex-direction: row;
}

.days {
  background: yellowgreen;
}

.ahad {
  color: red;
}

.outside-month {
  background: gray;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  width: 80px;
  height: 80px;
  border: solid 1px gray;
  background: #ffffff;
}

.btn {
  display: flex;
  flex: 1;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
  padding-top: 15px;
}